AssembliesAndNamespaces/bin/Debug/net5.0/AssembliesAndNamespaces
AssembliesAndNamespaces/bin/Debug/net5.0/AssembliesAndNamespaces.deps.json
AssembliesAndNamespaces/bin/Debug/net5.0/AssembliesAndNamespaces.dll
AssembliesAndNamespaces/bin/Debug/net5.0/AssembliesAndNamespaces.pdb
AssembliesAndNamespaces/bin/Debug/net5.0/AssembliesAndNamespaces.runtimeconfig.dev.json
AssembliesAndNamespaces/bin/Debug/net5.0/AssembliesAndNamespaces.runtimeconfig.json
AssembliesAndNamespaces/bin/Debug/net5.0/ref/AssembliesAndNamespaces.dll
AssembliesAndNamespaces/obj/Debug/net5.0/AssembliesAndNamespaces.csproj.AssemblyReference.cache
AssembliesAndNamespaces/obj/Debug/net5.0/AssembliesAndNamespaces.csproj.CoreCompileInputs.cache
AssembliesAndNamespaces/obj/Debug/net5.0/AssembliesAndNamespaces.csproj.FileListAbsolute.txt
AssembliesAndNamespaces/obj/Debug/net5.0/AssembliesAndNamespaces.csprojAssemblyReference.cache
AssembliesAndNamespaces/obj/Debug/net5.0/AssembliesAndNamespaces.dll
AssembliesAndNamespaces/obj/Debug/net5.0/AssembliesAndNamespaces.genruntimeconfig.cache
AssembliesAndNamespaces/obj/Debug/net5.0/AssembliesAndNamespaces.pdb
AssembliesAndNamespaces/obj/Debug/net5.0/ref/AssembliesAndNamespaces.dll
AssembliesAndNamespaces/obj/Debug/net5.0/AssembliesAndNamespaces.csproj.AssemblyReference.cache
AssembliesAndNamespaces/obj/Debug/net5.0/AssembliesAndNamespaces.csproj.AssemblyReference.cache
AssembliesAndNamespaces/obj/Debug/net5.0/AssembliesAndNamespaces.csproj.AssemblyReference.cache
AssembliesAndNamespaces/obj/Debug/net5.0/apphost
